*{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    

}

html , body {
    max-width: 100%;
    overflow-x: scroll;
}
   /*encabezado*/
header nav {
    background-color: #f5f5dc;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    ;
    height: 350px;
    width: 100%;
}
.first-text {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


    

    
    

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul li a {
    text-decoration: none;
    color: #3d3d37;
}












    






/*main*/
.title  {
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
    

    
} 
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}



   p {
    font-size: large;
    color: #160e0e;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
   }
   .listaservicio ul {
    list-style-type: square;
   }
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .vid{
        display: flex;
        justify-content: space-around;
    }
    .vid-text {
        text-align: center
        ;
    }
    
   
   
  

/*contacto*/

   
   .text-contac {
    width:  360px; 
    border: 1px solid #3d3c3c


   }
   

   
   .text_contac {
    text-align: center;
   }
   
   .maps{
    display: flex;
    justify-content: space-around;
    justify-items: center;
   }
   
  


    

/*footer*/

.footerimg img {
    width: 50px;
}

.final {
 text-align: center;
 color: #000000;
 font-size: 50px;
}

.listfoo {
    list-style: none;
}
.backfoo {
    background-color: #f5f5dc
}


.imgexcl img {
    width: 400px;

}


/*Exclusivos*/

.imgexcl{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 30px;
}

.imgexcl img {
    padding: 5px;
}

.nosotros{
    display: flex;
    align-items: center;
}

.img-fluid{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.img-fluid img {
    width: 450px;
    padding: 5px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "header header header"
    "main main main "
    "section section section"
    "footer footer footer "
    
    ;
  }  
    header {
    grid-area: header;
}

    
    
    
