/*Exclusivos*/

.imgexcl{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    img {
         padding: 5px;
    }
    
 }
    
    
    

    
    .nosotros{
        display: flex;
        align-items: center;
    }
    
    .img-fluid{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        img{
             width: 450px;
             padding: 5px;
        }
    
    
    }
    
   