/*Exclusivos*/

.imgexcl{
   @include flex;
    padding: 30px;
    img {
         padding: 5px;
    }
    
 }
    
    
    

    
    .nosotros{
        display: flex;
        align-items: center;
    }
    
    .img-fluid{
        
        @include flex;

        img{
             width: 450px;
             padding: 5px;
        }
    
    
    }
    
   