footer{
    width: 100%;
}

.footerimg img {
    width: 50px;
}

.final {
 text-align: center;
 color: $text-p;
 font-size: 50px;
}

.listfoo {
    list-style: none;
}
.backfoo {
    background-color: $bck-foo
}


.imgexcl img {
    width: 400px;

}
