header nav {
    background-color: $bck-foo;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    height: 350px;
    width: 100%;
    
}
.first-text {
    text-align: center;
    font-family: $font-p;
}


    

    
    

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;


    
}
nav ul li a {
    text-decoration: none;
    color: #3d3d37;
}












    






/*main*/
.title  {
    font-weight: 400;
    font-family:  $font-p;
    text-align: center;
   
} 
h1 {
    font-family: $font-p;
    text-align: center;
    color: $bck-nav;
}



   p {
    font-size: large;
    color: $text-p
    font-weight  700;
    font-family:  'Roboto Condensed', sans-serif;
    font-weight: 700px;
}

   .listaservicio ul {
    list-style-type: square;
   }
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .vid{
        display: flex;
        justify-content: space-around;
       
    }
    .vid-text {
        text-align: center
        ;
    }

    .main-flex {
        display: flex;
        flex-wrap: wrap;
       justify-content: space-between;
        
    }

    .maps{
        display: flex;
        justify-content: space-around;
        justify-items: center;
       }

       .text_contac {
        text-align: center;
       }

    
    
    