$bck-nav:  #3d3d37;
$bck-foo:  #f5f5dc;
$text-p:  #160e0e;

$font-princ: 'Roboto Condensed', sans-serif;
$font-p: Georgia, 'Times New Roman', Times, serif;
$font-secundary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$colors: (
     
    primario:  #3d3d37,
    secundario: #f5f5dc,
    terciario:  #160e0e,




);






