@mixin flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

@mixin flexx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}